name: Build & Release & Deploy

on:
  push:
    branches: [main]
    paths:
      - sources/**
      - translations/**
      - scripts/**
      - public/**

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Generate Summary
        run: python scripts/generate_summaries.py

      - name: Copy Translations
        run: |
          mkdir public/translations/
          cp -r translations/* public/translations/
          cp sources/projects.json public/projects.json

      - name: Upload public folder artifact
        uses: actions/upload-artifact@v4
        with:
          name: public-folder
          path: public
          retention-days: 1

  export:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Download public folder artifact
        uses: actions/download-artifact@v4
        with:
          name: public-folder
          path: public

      - name: Create Project Translation Exports
        run: |
          cp public/projects.json translations/projects.json
          python scripts/export_translations.py

      - name: Upload Translation Zips to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Translations
          prerelease: false
          body: |
            This release contains the latest translation exports per project.
          overwrite: true
          make_latest: true
          files: exports/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download public folder artifact
        uses: actions/download-artifact@v4
        with:
          name: public-folder
          path: public

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public
          retention-days: 1

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
