name: Lint Translations

on:
  pull_request:
    paths:
      - sources/**
      - translations/**

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Run Translation Linter
        run: python scripts/lint_translations.py
